body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
h1{
    font-size: 30px;
 }
 h2{
    font-size: 45px;
 }
.parte-izquierda, .parte-derecha{
    flex: 1;
    position: relative;
    color: white;
    
}
.parte-izquierda{
    background-color: #1ED760;
    text-align: left;
    font-family: sans-serif;
    padding-left: 2px; 
}
.parte-derecha{
background-color: #171717;
   flex: 3;
   text-align: center;
   font-family: sans-serif;
}



.contenido{
    position: absolute;
    top: 5%;
    left: 23%;
    transform: translateX(-40);
    width: 55%;
}
.small-image{
    position: -webkit-sticky;
    top: 10%;
    left: 10px;
    width: 150px;
    height: fit-content; }


    header {
        background-color: #171717; 
        padding: 0rem;
        
    }
    
    header nav {
        display: flex;
        justify-content: center;
        
    }
    
    header nav a {
        color: #fff;
        text-decoration: none;
        font-family: sans-serif;
        transition: background-color 0.3s ease;
        padding: 0.5rem 1rem; 
        border-radius: 20px; 
        border: 2px solid #1ED760; 
        margin: 0 10px;
    }
    
    header nav a:hover {
        background-color: #0A9F38;
    }
    


    form{
        padding: 0px;
        font-size: 15px;
        
    }

   